@import "tailwindcss";
@config "../tailwind.config.js";


@layer components {

    /* El contenedor principal del botón */
    .btn-linktree {
        @apply relative w-full max-w-xl px-14 py-4 bg-blanco-off-white rounded-xl flex justify-center items-center gap-8 overflow-hidden cursor-pointer transition-all duration-300 hover:scale-[1.02] hover:bg-blanco-crema active:scale-95;

        /* La sombra exacta que te dio Figma (con el color marron-compost en rgba) */
        box-shadow: 4px 4px 15px 0px rgba(34, 31, 19, 0.20);
    }

    /* El texto del botón */
    .btn-texto {
        @apply text-center text-verde-tierra text-xl font-extrabold font-['Montserrat'] uppercase z-10;
    }

    /* El contenedor del ícono (lo deja fijo a la izquierda) */
    .btn-icono {
        @apply absolute left-6 top-1/2 -translate-y-1/2 flex justify-center items-center w-8 h-8 z-10 text-verde-tierra;
    }
}

@layer utilities {

    /* Clase que vamos a aplicarle al circulito cada vez que hagamos clic */
    .efecto-ripple {
        animation: expandir-ripple 0.6s ease-out forwards;
    }

    /* La animación: arranca en tamaño 0 y opacidad alta, y termina grande y transparente */
    @keyframes expandir-ripple {
        0% {
            transform: scale(0);
            opacity: 0.6;
        }

        100% {
            transform: scale(4);
            opacity: 0;
        }
    }

    .animacion-sol {
        /* Dura 6 segundos, entra y sale suavemente (ease-in-out), y se repite para siempre */
        animation: latido-sol 6s ease-in-out infinite;
    }

    /* Le decimos exactamente qué hacer en cada momento */
    @keyframes latido-sol {

        0%,
        100% {
            opacity: 0.2;
            /* Arranca y termina tenue */
        }

        50% {
            opacity: 0.4;
            /* A la mitad del tiempo (a los 3 seg) brilla mucho más */
        }
    }
}